body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #282c34;
    color: white;
}

h1 {
    font-size: 2em;
    margin: 20px;
}

#start-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
}

#return-home{
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
}

#restart-btn {
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    background-color: #ff6b6b;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    color: black;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

.cell:hover {
    background-color: #ddd;
}

#status {
    font-size: 1.5em;
    margin-top: 20px;
}